.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url('../../../../assets/images/login-wallpaper.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: var(--p-emerald-400);
  font-family: 'Nunito', sans-serif;
}

.login-card {
  padding: 2rem;
  width: 350px;
  background: white;
  border-radius: 8px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

h2 {
  text-align: center;
  margin-bottom: 1rem;
}

.p-field {
  margin-bottom: 1rem;
  display: block;
}
